* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    font-family: 'Alegreya', serif;
    background-image: linear-gradient(120deg,#e9c691, #ce4137 );
    min-height: 100vh;
    color: #fffaf0f5;;
}

header {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    h1 {
        text-align: center;
        display: block;
        text-transform: uppercase;
        padding-top: 5rem;
        margin-bottom: 3rem;
    }
    h2 {
        max-width: 50%;
        text-align: center;
        font-style: italic;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    h3 {
        font-size: 1rem;
        font-style: italic;
        .fa-github-square {
            font-size: 2rem;
            color: white;
            vertical-align: middle;
        }
    }
}

i, svg {
    pointer-events: none;
}

.sequencer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .kick-track, .snare-track, .hihat-track {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        .controls {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            // flex: 1;
            margin: 0 2rem;
            .ct {
                margin-bottom: 3rem;
            }
            button {
                padding: 1rem;
                border: none;
                border-radius: 10px;
                background-image: linear-gradient(120deg,#e67171, #cb1c67);
                color: white;
                font-size: 1rem;
                cursor: pointer;
                transition: all 0.5s ease;
            }
            select {
                padding: 1rem;
                font-size: 1rem;
                border: none;
                margin: 0;
                border-radius: 10px;
            }
            .mute.active{
                background-image: linear-gradient(120deg,#c75e5e, #8f1248);
            }
        }

        .kick, .snare, .hihat {
            display: flex;

            .pad {
                transition: all 0.5s ease;
            }

            .kick-pad, .snare-pad, .hihat-pad {
                width: 3.5rem;
                height: 3.5rem;
                margin: 1rem 0.5rem;
                border-radius: 50%;
                cursor: pointer;
            }
            .kick-pad {
                background: rgb(94, 94, 202);
            }
            .kick-pad.active {
                background: rgb(66, 66, 158);
            }
            .snare-pad {
                background: rgb(162, 94, 202);
            }
            .snare-pad.active {
                background: rgb(121, 53, 160);
            }
            .hihat-pad {
                background: rgb(94, 202, 157);
            }
            .hihat-pad.active {
                background: rgb(51, 129, 97);
            }
        }
    }

    .play {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        background-image: linear-gradient(120deg,#e67171, #cb1c67);
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        margin-top: 3rem;
    }

    .tempo {
        margin: 3rem;
        width: 30%;
        .tempo-slider {
            padding: 0.1rem;
            -webkit-appearance: none;
            margin: 1rem 0rem;
            width: 100%;
            position: relative;
            background-image: linear-gradient(120deg,#e67171, #cb1c67);
            cursor: pointer;
            border-radius: 1rem;
        }
        p {
            font-size: 1.5rem;
            margin: 1rem;
            text-align: center;
        }
    }
}

@keyframes playTrack{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}